<div class="container">
  <form action="/">
    <select name="category" onchange="submit()">
      <option value="">全部</option>
      {{#each categoryFilters}}
        <option value="{{this.value}}" {{#if (isEqual ../category this.value)}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
  </form>
  
  <div>
    <span>總金額：</span>
    <span>{{totalAmount}}</span>
  </div>

  {{#each records}}
    <div style="border: 1px solid black;">
      <p>{{this.name}}</p>
      <p>{{this.date}}</p>
      <p>{{this.category}}</p>
      <p>{{this.amount}}</p>
      <a href="./records/{{this._id}}/edit">修改</a>
      <form action="./records/{{this._id}}/delete" method="POST">
        <button type="submit">刪除</button>
      </form>
    </div>
  {{/each}}

  <a href="./records/new">新增支出</a>
</div>
