<form class="row" action="/">
  <div class="form-group col-8 my-3">
    <select class="form-control" id="category" name="category" onchange="submit()">
      <option value="">全部</option>
      {{#each categories}}
        <option {{#if (isEqual ../category this.name)}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>
</form>

<div class="row my-3">
  <span class="col-2" style="font-size: 20px;">總金額：</span>
  <span class="col-10 text-info" style="font-size: 50px;">{{totalAmount}}</span>
</div>

<div class="row my-3">
  {{#each records}}
    <ul class="list-group col-8">
      <li class="list-group-item d-flex justify-content-between align-item-center">
        <div class="d-flex justify-content-between align-item-center">
          <i class="{{this.icon}} align-self-center" style="font-size: 40px; width: 4em; color: gray;"></i>
          <div>
            <p class="mb-0">{{this.name}}</p>
            <p class="mb-0">{{this.date}}</p>
          </div>
        </div>
        <span class="align-self-center" style="font-size: 30px;">{{this.amount}}</span>
      </li>
    </ul>
    <div class="col-4 d-flex justify-content-around align-item-center">
      <a href="./records/{{this._id}}/edit" class="align-self-center text-primary" style="font-size: 20px;">修改</a>
      <form action="./records/{{this._id}}?_method=DELETE" method="POST" class="align-self-center" style="display: inline;">
        <button type="submit" class="btn btn-link text-danger" style="font-size: 20px;">刪除</button>
      </form>
    </div>
  {{/each}}
</div>

<div class="col-8 my-5">
  <a href="./records/new" class="btn btn-info btn-block">新增支出</a>
</div>