<div class="container">
  {{#each records}}
    <div style="border: 1px solid black;">
      <p>{{this.name}}</p>
      <p>{{this.date}}</p>
      <p>{{this.category}}</p>
      <p>{{this.amount}}</p>
      <a href="./records/{{this._id}}/edit">修改</a>
      <form action="./records/{{this._id}}/delete" method="POST">
        <button type="submit">刪除</button>
      </form>
    </div>
  {{/each}}

  <a href="./records/new">新增支出</a>
</div>
